@use "../global/variables.scss" as *;

.additional-promo {
  position: relative;
  // z-index: 0;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 20px;
  //   width: 100%;
  //   height: 2px;
  //   background-color: var(--basic-green);
  //   z-index: -1;
  // }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: auto min-content;
    padding: 0 110px 86px;
  }
}

.additional-promo__additional {
  @media (min-width: 1440px) {
    margin-right: 80px;
  }
}

.additional-promo__promobox {
  padding: 35px 20px;

  @media (min-width: 768px) {
    padding: 69px 30px 76px;
  }

  @media (min-width: 1440px) {
    padding: 0;
    margin-top: 118px;
  }
}
