.catalog {
  background-color: var(--basic-white);
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 37px;
  padding: 0 20px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
    padding: 0 30px;
  }

  @media (min-width: 768px) {
    padding: 0 110px;
  }
}
