@use "../global/variables.scss" as *;

.contacts {
  background-color: $basic-white;

  &--grey {
    background-color: $basic-grey;
  }

  // @media (min-width: 768px) {
  //   background-color: $basic-grey;
  // }

  @media (min-width: 1440px) {
    max-height: 198px;
    overflow: auto;
    position: absolute;
    top: 95px;
    left: 0;
    background-color: $basic-white;
    z-index: 1;
    margin: auto;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding: 26px 20px;

  @media (min-width: 768px) {
    padding: 58px 70px;
  }

  @media (min-width: 1440px) {
    padding: 58px 79px;
    gap: 67px;
  }
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-3;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
  justify-self: end;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
    margin-top: -4px;
  }

  @media (min-width: 1440px) {
    text-align: left;
  }
}

.contacts__address-street {
  margin: 0;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.contacts__address-city {
  margin: 0;
}
