@use "../global/variables.scss" as *;

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example {
  background-color: $special-grey-3;
  padding: 66px 20px 40px;

  @media (min-width: 768px) {
    background-color: $basic-white;
    position: relative;
    padding: 0;

    &::after {
      width: 100%;
      min-height: 462px;
      content: "";
      top: 576px;
      position: absolute;
      background-color: $basic-grey;
    }
  }

  @media (min-width: 1440px) {
    &::after {
      min-height: 462px;
      top: 138px;
    }
  }
}

.example__wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 103px;
  }

  @media (min-width: 1440px) {
    grid-template-rows: repeat(5, min-content);
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 0;
    max-width: 1440px;
    margin: auto;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1 / 3;
    z-index: 1;
    margin-bottom: 64px;
  }

  @media (min-width: 1440px) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 146px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 98%;
    font-size: 16px;
    line-height: 24px;
    grid-column: 1 / 3;
    z-index: 1;
    margin-bottom: 52px;
  }

  @media (min-width: 1440px) {
    width: 72%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 69px;
  }
}

.example__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0;

  @media (min-width: 768px) {
    gap: 42px;
    grid-column: 1 / 2;
    z-index: 1;
  }

  @media (min-width: 1440px) {
    width: 60%;
    grid-row: 3 / 4;
  }
}

.example__stats-item {
  display: grid;
  grid-template-rows: min-content min-content;
  margin-bottom: 19px;

  @media (min-width: 768px) {
    width: 162px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    margin-bottom: 48px;
  }
}

.example__stats-number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-black;
  padding-top: 14px;
  padding-bottom: 17px;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    border: 1px solid $special-grey;
    border-radius: 5px;
    z-index: -1;
    padding-left: 4px;
    padding-bottom: 1px;

    @media (min-width: 768px) {
      border-radius: 2px;
      padding-left: 0;
    }
  }

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: $special-dark-grey;
  padding: 0 20px;
  margin: auto;
  margin-top: -8px;
  background-color: $special-grey-3;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
    padding: 2px 10px;
  }

  @media (min-width: 1440px) {
    background-color: $basic-grey;
  }
}

.example__stats-description br {
  @media (min-width: 768px) {
    display: none;
  }
}

.example__summary {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  margin-bottom: 20px;

  br {
    display: none;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    grid-column: 2 / 3;
    justify-self: end;
    text-align: right;
    z-index: 1;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 113px;

    br {
      display: block;
    }
  }

  @media (min-width: 1440px) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0;
    margin-bottom: 75px;
    justify-self: start;

    br {
      display: none;
    }
  }
}

.example__summary-cost {
  @media (min-width: 1440px) {
    margin-left: 62px;
  }
}

.example__range {
  width: 280px;
  height: 256px;
  display: flex;
  position: relative;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 560px;
    height: 512px;
    grid-column: 1 / 3;
    z-index: 1;
    justify-self: center;
  }

  @media (min-width: 1440px) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    margin-left: 50px;
  }
}

.example__range-image {
  height: 100%;
  object-fit: cover;
}

.example__range-image--before {
  object-position: left;
}

.example__range-image--after {
  object-position: right;
}

.example__range-toggle {
  position: absolute;
  content: "";
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  background-color: $special-dark-grey-4;
  z-index: 2;

  &:hover {
    background-color: $basic-green;

    .example__range-button::before,
    .example__range-button::after {
      background-color: $basic-green;
    }

    .example__range-button {
      border-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.example__range-button {
  content: "";
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background-color: $basic-white;
  border-radius: 50%;
  border: 2px solid $special-dark-grey-4;
  z-index: 1;

  @mixin arrow-helper() {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: $special-dark-grey-4;
    width: 8px;
    height: 18px;
    top: 9px;
  }

  &::after {
    @include arrow-helper();
    left: 6px;
    transform: rotate(180deg);
  }

  &::before {
    @include arrow-helper();
    right: 6px;
  }
}
