@use "../global/variables.scss" as *;

.form {
  background-color: $basic-white;
  padding-bottom: 32px;

  @media (min-width: 1440px) {
    padding-bottom: 82px;
  }
}

.form__pet-info__wrapper {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px;
  }
}

.form__pet-property {
  padding: 0 20px 24px;
  margin: 0;

  @media (min-width: 768px) {
    padding: 0 70px 57px;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.form__program-selection {
  border-top: 1px solid $special-light-grey-2;
  border-bottom: 1px solid $special-light-grey-2;
  margin: 0;
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: 768px) {
    padding: 0;
    border: none;
    margin-bottom: 75px;
  }
}

.form__contacts {
  margin: 0;
  // margin-bottom: 24px;
  padding: 0 20px 23px;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    padding: 0 70px 65px;
  }

  @media (min-width: 1440px) {
    padding: 0 110px 65px;
  }
}

.form__comment {
  margin: 0;
  padding: 0 20px 22px;
  // margin-bottom: 22px;

  @media (min-width: 768px) {
    padding: 0 70px 65px;
  }

  @media (min-width: 1440px) {
    padding: 0 110px 76px;
  }
}

.form__options {
  padding: 0 20px 34px;

  @media (min-width: 768px) {
    padding: 0 70px 54px;
  }

  @media (min-width: 1440px) {
    padding: 0 110px 61px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 7px 0;
  min-width: 280px;

  @media (min-width: 768px) {
    font-size: 20px;
    padding: 13px 13px;
    margin-right: 61px;
    margin-left: 70px;
  }

  @media (min-width: 1440px) {
    min-width: 568px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 16px;
    margin-right: 81px;
    margin-left: 110px;
  }
}

.form__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $basic-black;
  margin: 0;
  padding: 0 20px;

  @media (min-width: 768px) {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    // padding: 0 70px;
  }

  // @media (min-width: 1440px) {
  //   padding: 0 110px;
  // }
}

.title-position {
  position: relative;
  z-index: 1;
}

.title {
  display: inline-block;
  background-color: $basic-white;
  padding-left: 40px;
  padding-right: 21px;
  margin-left: -40px;

  @media (min-width: 768px) {
    padding-right: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    z-index: -1;

    @media (min-width: 768px) {
      top: 22px;
    }
  }
}
