@use "../global/variables.scss" as *;

.map__image {
  display: inline-block;
}

.map--nojs {
  background-image: url("../img/map/location-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map/location-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../img/map/location-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/location-tablet@2x.jpg");
    }
  }

  @media (min-width: 1440px) {
    background-image: url("../img/map/location-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/location-desktop@2x.jpg");
    }
  }
}
