.nav {
  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: 30px;
  }

  @media (min-width: 1140px) {
    margin-left: auto;
    margin-right: 110px;
  }
}

.nav__toggle {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 18px;
  background-image: url("../img/toggle.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav__wrapper {
  background-color: var(--basic-white);
  width: 100%;
  position: absolute;
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: relative;
  }

  @media (min-width: 1440px) {
    background-color: transparent;
    z-index: 1;
  }
}
