.own__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 35px;
}

.owm__item-wrapper {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.own__item {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-dark-grey);
  margin-bottom: 14px;
}

.own__label {
  margin-right: 14px;
}

.own__field {
  width: 100%;
  height: 45px;
  padding: 0;
  padding-left: 15px;
  border: 1px solid var(--special-light-grey);
  box-sizing: border-box;
}

.own__field::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-dark-grey);
}
