@use "../global/variables.scss" as *;

.product {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content min-content auto;
  // align-items: center;
  // background-color: $basic-white;
  border-top: 1px solid $special-light-grey-2;
  padding: 19px 20px 25px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
    justify-items: center;
    border: none;
    background: linear-gradient($basic-white 15.5%, $basic-grey 15.5% 100%);
    padding: 8px 36px 39px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   width: 100%;
    //   height: 80%;
    //   background-color: $basic-grey;
    //   z-index: -1;
    // }
  }

  @media (min-width: 1440px) {
    // padding-right: 30px;
    // padding-left: 35px;
    padding: 0;
    padding-bottom: 40px;
  }
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 0;

  @media (min-width: 768px) {
    width: 154px;
    font-size: 20px;
    line-height: 24px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 20px;
  }

  @media (min-width: 1440px) {
    line-height: 21px;
    margin-bottom: 18px;
  }
}

.product__title-link {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 60%;
  margin: 0;
  text-decoration: none;

  @media (min-width: 768px) {
    width: 154px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    // margin-bottom: 14px;
  }

  @media (min-width: 1440px) {
    padding-left: 8px;
    // margin-bottom: 19px;
  }
}

.product__link {
  width: 140px;
  text-decoration: none;
  grid-row: 1 / 3;
  grid-column: 1 / 2;

  @media (min-width: 768px) {
    width: 168px;
    height: 200px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 14px;
  }

  @media (min-width: 1440px) {
    width: 172px;
    height: 196px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 27px;
  }
}

img.product__image {
  max-width: none;

  @media (min-width: 768px) {
    width: 100%;
    min-height: 200px;
  }

  @media (min-width: 1440px) {
    width: 100%;
    min-height: 196px;
  }
}

.product__features {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 14px;
  margin-bottom: 22px;

  @media (min-width: 768px) {
    width: 251px;
    font-size: 16px;
    line-height: 16px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 0;
    margin-bottom: 32px;
  }

  @media (min-width: 1440px) {
    width: 166px;
  }
}

.product__features-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    border-bottom: 1px solid $special-grey;
    padding-top: 6px;
    padding-bottom: 9px;
  }
}

// .product__features-description {
//   margin: 0;
// }

.product__button {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    width: 248px;
  }

  @media (min-width: 1440px) {
    width: 168px;
  }
}
