.promoscreen {
  min-height: 480px;
  background-color: var(--basic-white);
}


.promoscreen__wrapper {
  height: 275px;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/hero.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  @media (min-width: 768px) {
    &::after {
      background-image: none;
    }
  }

  @media (min-width: 1440px) {
    height: 696px;

    &::after {
      content: "";
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/hero-big.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: -79px;
      right: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
  }
}

.promoscreen__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-white);
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic-black);
    text-align: start;
    margin-left: 117px;
  }
}

.promoscreen__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  margin-bottom: 29px;

  @media (min-width: 768px) {
    color: var(--basic-black);
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin-left: 117px;
  }
}

.promoscreen__image {
  display: flex;
  margin: 0 auto;
}

.promoscreen__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 7px 44px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 220px;
    left: 117px;
    margin: 0;
    padding: 14px 26px;
  }
}
