@use "../global/variables.scss" as *;

.property {
  list-style-type: none;
}

.property__item {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.property__label {
  max-width: 200px;
  margin-right: 14px;

  @media (min-width: 768px) {
    margin-right: 18px;
  }
}

.property__field {
  width: 100%;
  height: 45px;
  padding-top: 4px;
  padding-left: 14px;
  border: 1px solid $special-light-grey;
  box-sizing: border-box;
  appearance: textfield;

  @media (min-width: 768px) {
    height: 52px;
    padding-top: 8px;
    padding-left: 17px;
  }

  &:hover {
    border: 1px solid $basic-grey;
  }


  &:focus {
    outline: none;
    border: 2px solid $special-dark-grey;
  }

  &--error {
    outline: none;
    border: 2px solid $status-error;
  }
}

// input[type="number"].property__field {
//   appearance: textfield;
// }

.property__field::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}
