.additional-promo {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: auto min-content;
    padding: 0 110px;
  }
}

.additional-promo__additional {
  @media (min-width: 1440px) {
    margin-right: 80px;
  }
}

.additional-promo__promobox {
  @media (min-width: 1440px) {
    margin-top: 116px;
  }
}
