.advantages__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.advantages__list {
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: (--special-dark-grey);
  background-color: var(--basic-white);
}
