:root {
  --basic-black: #000000;
  --basic-grey: #F2F2F2;
  --special-grey: #CDCDCD;
  --special-grey-2: #EBEBEB;
  --special-grey-3: #EAEAEA;
  --special-light-grey: #E7E7E7;
  --special-light-grey-2: #D9D9D9;
  --special-dark-grey: #444444;
  --special-dark-grey-2: #222222;
  --special-dark-grey-3: #111111;
  --basic-white: #ffffff;
  --basic-green: #68B738;
  --basic-green-2: #5EAA2F;
  --status-error: #FF8282;
}
