.contacts {
  background-color: var(--basic-white);
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--special-dark-grey-3);
  margin: 0;
}

.address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--special-dark-grey);
  margin: 0;
}

.address__street {
  margin: 0;
}

.address__city {
  margin: 0;
}
