.example {
  background-color: var(--special-grey-3);
  padding: 25px 20px 40px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-black);
  background-color: var(--special-grey-3);
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special-dark-grey);
  margin: 0;
  margin-bottom: 20px;
}

.example__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--special-grey-3);
  margin: 0;
}

.example__stats-item {
  display: grid;
  grid-template-rows: min-content min-content;
  margin-bottom: 20px;
}

.example__stats-number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  margin-bottom: 5px;
}

.example__stats-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: var(--special_dark-grey);
  margin: 0;
}

.example__summary {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
