.form {
  background-color: var(--basic-white);
  padding-bottom: 32px;
}

.form__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
}

.form__pet-property {
  margin: 0;
  margin-bottom: 24px;
}

.form__program-selection {
  border-top: 1px solid var(--special-light-grey-2);
  border-bottom: 1px solid var(--special-light-grey-2);
  margin: 0;
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 19px;
}

.form__contacts {
  margin: 0;
  margin-bottom: 24px;
}

.form__comment {
  margin: 0;
  margin-bottom: 22px;
}

.form__options {
  margin: 0;
  margin-bottom: 24px;
}

.form__button {
  margin: 0;
  margin-bottom: 21px;
}
