.header {
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 10px;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__main-logo {
  display: inline-block;
  margin-right: 56px;
  margin-left: 20px;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    margin-right: 19px;
    margin-left: 30px;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
  }
}

.header__second-logo {
  display: inline-block;

  @media (min-width: 768px) {
    margin-right: 94px;
  }
}
