.menu-list {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
}

.menu-list__link {
  text-decoration: none;
}
