.main-footer {
  background-color: var(--basic-grey);
}

.social__list {
  list-style-type: none;
  padding: 0;
}

.copyright {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey);
}
