.nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 18px;
  background-image: url("../img/toggle.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

