.promobox__link {
  text-decoration: none;
}

.promobox__description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-white);
  background-color: rgba(104, 183, 56, 0.85);
}
